@model IEnumerable<MiProyectoMVC.Models.Cajero>

@{
    ViewData["Title"] = "Cajeros";
}

<h1>Cajeros</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Turno</th>
            <th>Fecha de Ingreso</th>
            <th>Salario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Turno</td>
                <td>@item.FechaIngreso.ToShortDateString()</td>
                <td>@item.Salario</td>
                <td>
                    
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="@Url.Action("Index", "Home")" class="btn btn-info">Volver al Inicio</a>
