@{
    ViewData["Title"] = "Página Principal";
}

<h2>Bienvenido a la Aplicación de Gestión</h2>
<p>Seleccione una opción:</p>

<div>
    <!-- Botón para Crear Cliente -->
    <a href="@Url.Action("Create", "Clientes")" class="btn btn-primary">Crear Cliente</a>

    <!-- Botón para Ver Lista de Clientes -->
    <a href="@Url.Action("Index", "Clientes")" class="btn btn-secondary">Ver Clientes</a>

    <!-- Botón para Crear Cajero -->
    <a href="@Url.Action("Create", "Cajeros")" class="btn btn-success">Crear Cajero</a>

    <!-- Botón para Ver Lista de Cajeros -->
    <a href="@Url.Action("Index", "Cajeros")" class="btn btn-danger">Ver Cajeros</a>

    <!-- Botón para Crear Producto -->
    <a href="@Url.Action("Create", "Productos")" class="btn btn-warning">Crear Producto</a>

    <!-- Botón para Ver Lista de Productos -->
    <a href="@Url.Action("Index", "Productos")" class="btn btn-info">Ver Productos</a>
</div>
