@model IEnumerable<MiProyectoMVC.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio de Compra</th>
            <th>Precio de Venta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Marca</td>
                <td>@item.PrecioCompra.ToString("C")</td>
                <td>@item.PrecioVenta.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<!-- Botón para Volver al Home -->
<a href="@Url.Action("Index", "Home")" class="btn btn-info">Volver al Inicio</a>
